# Flutter / Dart / tooling
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.fvm/
.pub-cache/
.idea/
.vscode/
.classpath
.project
.settings/

# Build artifacts (all platforms)
build/
**/build/
**/.gradle/
**/local.properties
.gradle/

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
macos/Pods/
macos/Flutter/ephemeral/
**/xcuserdata/
**/DerivedData/

# Platform-specific junk
.DS_Store
Thumbs.db
*.log

# Firebase configs
google-services.json
**/GoogleService-Info.plist

# Android signing keys
key.properties
*.jks
*.keystore

# Env + secret files
.env
lib/secrets.dart
